.intro-wallpaper {
  background: url("/assets/wallpaper.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  max-height: 100%;
  height: 100%;
  max-width: 100%;
  width: 100%;

  position: fixed;
}

.intro-words {
  text-align: center;
  margin-top: 22%;
  color: white;
/*  background-color: black;*/
}